.label {
    -fx-text-fill: #000000;
}

.checkbox {
    -fx-text-fill: #000000;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #dd0707;
    -fx-border-radius: 18px;
    -fx-text-fill: #ffffff;
}

.root {
    -fx-background-color: #ffffff;
}