.label {
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}

.checkbox {
    -fx-text-fill: #ffffff;
    -fx-alignment: center;
}

.button {
    -fx-background-color: #dd0707;
    -fx-border-radius: 50%;
    -fx-text-fill: #ffffff;
}

.root {
    -fx-background-color: rgb(0, 0, 0, 0.986);
}