.label {
    -fx-color: #fff;
    -fx-alignment: center;
    -fx-background-color: transparent;
}

.checkbox {
    -fx-color: #fff;
}

.button {
    -fx-background-color: #dd0707;
}

.root {
    -fx-background-color: #000;
}